---
 const personalImageAlt = "Alfonso Patron picture"
---

<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-purple-300/90 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
        Mi nombre es Alfonso Patrón.
        Desde que tengo memoria me ha gustado la inovación tecnología en los productos,
        <strong>y hoy en día no solo me gusta, si no que ayudo a crearla, y eso... Me encanta.</strong>
    </p>

    <p>
      Algunos de los logros ha sido <strong
        >colaborar con el Gobierno del Estado Mexicano para el desarrollo de aplicaciones para personas con discapacidades</strong
      >. Y aun que parezca algo poco común, eh participado en distintos foros de inclusión en universidades y eventos en linea.
    </p>

    <p>
      Como persona en el área digital y social <strong
        >he impartido clases de programación de forma gratuita especializados en niños de bajo recursos bajo el nombre de <em class="italic">Smart Kids</em></strong>. y mediante redes sociales divulgo tecnología y ciencia con el nombre
      <em class="italic text-purple-200/90">@alfonsopatroon.</em></strong>
    </p>
  </div>

  <img src="https://avatars.githubusercontent.com/u/72732974?v=4" class="rounded-full size-64 order-1 md:order-2" alt={personalImageAlt}/>

</section>